.cabecalho{
    background: #B4D0C1;
    width: 1440px;
    height: 240px;
}

.imagemcab{
    width: 343px;
    height: 172px;
}

.botaoum{
    width: 162px;
    height: 69px;
    color: #000;
    font-family: Just Me Again Down Here;
    font-size: 50px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}

.botaodois{
    width: 118px;
    height: 75px;
    color: #000;
    font-family: Just Me Again Down Here;
    font-size: 50px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}